body {
    font-family: 'Courier New', Courier, monospace;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px 15px;
    background-color: rgba(41, 212, 41, 0.863);
    color: black;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 22px;
}

button:hover {
    background-color: rgba(57, 238, 57, 0.863);
    color: white;
}

input {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

p {
    font-size: 30px;
}

span {
    font-weight: 900;
}